<fieldset>
  <legend>Featured Settings</legend>
  <%#= f.check_box 'Sticky Item' %>
  <p class="not-implemented-yet">Not implemented yet.</p>
  <input type="checkbox"> Sticky Item<br/>
  <input type="checkbox"> Top Header<br/>
  <input type="checkbox"> Big Banner<br/>
  <input type="checkbox"> Top Side Banner<br/>
  <input type="checkbox"> Bottom Side Banner
</fieldset>
