<div class="tabs">
    <div class="span-5"><h2 class="tab currenttab"><a href="javascript:;"><%= t('admin.pages.metadata') %></a></h2></div>
    <div class="span-5 append-13 last"><h2 class="tab"><a href="javascript:;"><%= t('admin.pages.content') %></a></h2></div>
  <div class="clear"></div>
</div>
