<fieldset>
  <legend>Permissions</legend>
  <p class="not-implemented-yet">Not implemented yet.</p>
  <div class="span-8">
    <label>Available Groups</label><br/>
    <select class="span-8" name="computerbrands" multiple="multiple" size="10">
      <option value="0">All Users</option>
      <optgroup label="by Gender">
        <option value="2">Men Only</option>
        <option value="3">Women Only</option>
      </optgroup>
      <optgroup label="by Language">
        <option value="4">Hebrew Speakers</option>
        <option value="5">Russian Speakers</option>
        <option value="6">French Speakers</option>
        <option value="7">English Speakers</option>
      </optgroup>
      <optgroup label="by Membership Period">
        <option value="8">New Users</option>
        <option value="9">Old Users</option>
      </optgroup>
      <optgroup label="by Group Name">
        <option value="10">BB - Petach Tikva</option>
        <option value="11">BB - Young Group</option>
        <option value="12">Holon Group</option>
      </optgroup>
    </select>
    <input type="submit" value="Add to Item"/>
  </div>
  <div class="prepend-1 span-8 last">
    <label>Item Groups</label><br/>
    <select class="span-8" name="computerbrands" multiple="multiple" size="10">
      <option value="10">BB - Petach Tikva</option>
      <option value="6">French Speakers</option>
    </select>
    <input type="submit" value="Remove from Item"/>
  </div>
</fieldset>

