<fieldset>
  <legend>Tags</legend>
  <p class="not-implemented-yet">Not implemented yet.</p>
  <div class="span-8">
    <label>All Tags (2973)</label><br/>
    <select class="span-8" name="tags" multiple="multiple" size="10">
      <option value="Event">event</option>
      <option value="Unity Day">Unity Day</option>
      <option value="Rabash Books">Rabash Books</option>
      <option value="tag1">Israel</option>
      <option value="tag2">tag2</option>
      <option value="tag3">tag3</option>
      <option value="tag4">tag4</option>
      <option value="tag5">tag5</option>
      <option value="tag6">tag6</option>
      <option value="tag7">tag7</option>
      <option value="tag8">tag8</option>
      <option value="tag9">tag9</option>
    </select>
    <input type="submit" value="Add Tags to Item"/>
  </div>
  <div class="prepend-1 span-8 last">
    <label>Item's Tags</label><br/>
    <select class="span-8" name="tags" multiple="multiple" size="10">
      <option value="10">event</option>
      <option value="6">Israel</option>
    </select>
    <input type="submit" value="Remove Tags from Item"/>
  </div>
  <div class="clear"></div>
  <div class="prepend-top">
    <label>Add New Tags (comma separated)</label><br/>
    <input type="text" class="title span-16 last" name="dummy0" id="dummy0" value="Title"/>
    <input type="submit" value="Add"/>
  </div>
</fieldset>
