.player(style="float: none; margin: 0 auto; position: relative; width: 320px; padding: 35px 0;")
  -#tightvideo_img(style="position: absolute; top: 0; font-size: 10px; #{@locale == 'he' ? 'left' : 'right'} : 0;")
    = link_to image_tag('tightvideo.gif', :alt => 'Transcoded by TightVideo'), 'http://www.tightvideo.com/', :title => 'Transcoded by TightVideo', :target => '_blank'
  #object(style="width: 320px; height: 305px;")= I18n.t('kabtv.kabtv.loading')
  <a id='full_screen' alt='Full screen' title='Full screen' class="player-btn" onclick="fs(); return false;" style="background: url(images/video-icons.gif) no-repeat 0 -37px; width: 23px; height: 23px; display: block; float: right;"><span class="full_screen"> </span></a>
  .clear
:javascript
  function create_flash_object(clip, url) {
    $("#object").html('');
    $("#full_screen").hide();
    $f('object',
        { src: 'http://kabbalahgroup.info/internet/flowplayer/flowplayer.commercial-3.2.16.swf', wmode: 'transparent', id: 'player' },
        {
            key: '#\@432d5aedb59612f8458',
            clip: {
                url: clip,
                live: true,
                bufferLength: 5,
                provider: 'rtmp',
                scaling: 'fit',
                onBeforePause : function() {
                    return false;
                }
            },
            canvas: {
        	backgroundGradient: 'none'
    	    },
            plugins: {
                rtmp: {
                    url: 'flowplayer.rtmp-3.2.12.swf',
                    proxyType: 'HTTP',
                    netConnectionUrl: url
                },
                controls: {
            	    autoHide: 'fullscreen',
            	    play: false,
            	    stop: true,
            	    time: false,
            	    scrubber: false
                }
            }
        }
    );
    $('#object').css('background-color', 'black');
  }

  var object = '<object width="320" height="305" name="player" id="player" type="application/x-ms-wmp" data="URL_PATTERN"> \
    <param value="URL_PATTERN" name="src"/> \
    <param value="true" name="autostart"/> \
    <param value="true" name="controller"/> \
    <param value="50" name="volume"/> \
    <param value="full" name="uiMode"/> \
    <param value="true" name="animationAtStart"/> \
    <param value="false" name="showDisplay"/> \
    <param value="true" name="ShowAudioControls"/> \
    <param value="false" name="ShowPositionControls"/> \
    <param value="false" name="transparentAtStart"/> \
    <param value="true" name="ShowControls"/> \
    <param value="true" name="ShowStatusBar"/> \
    <param value="false" name="ShowTracker"/> \
    <param value="false" name="ClickToPlay"/> \
    <param value="#000000" name="DisplayBackColor"/> \
    <param value="#ffffff" name="DisplayForeColor"/> \
    <param value="false" name="balance"/> \
    <param value="false" name="enableContextMenu"/> \
    </object>';

  var objectMSIE = '<object classid="clsid:6BF52A52-394A-11D3-B153-00C04F79FAA6" \
    style="background-color:#000000" id="player" name="player" type="application/x-oleobject" \
    width="320" height="288" standby="Loading Windows Media Player components...">\
    <param name="URL" value="URL_PATTERN" /><param name="AutoStart" value="1" />\
    <param name="AutoPlay" value="1" /><param name="volume" value="50" />\
    <param name="uiMode" value="full" /><param name="animationAtStart" value="1" />\
    <param name="showDisplay" value="1" /><param name="transparentAtStart" value="0" />\
    <param name="ShowControls" value="1" /><param name="ShowStatusBar" value="1" />\
    <param name="ClickToPlay" value="0" /><param name="bgcolor" value="#000000" />\
    <param name="enableContextMenu" value="0" />\
    <param name="windowlessVideo" value="1" /><param name="balance" value="0" />';

  function create_wmv_object(url) {
    if ($.browser.msie)
        object = objectMSIE.replace(/URL_PATTERN/g, url);
    else
        object = object.replace(/URL_PATTERN/g, url);
    $('#object').html(object);
  }

  $(function() {
    var url = '#{@stream_url}';
    try {
        var match = url.match(/clip=(.*);stream=(.*)/);
        if (match != null)
          create_flash_object(match[1], match[2]);
        else
          create_wmv_object(url);
    } catch(err) {
        ;
    }
  });

  function fs() {
      var $obj = $('#player');
      if ($obj) {
          var obj = $obj[0];
          if (obj.playState && obj.playState == 3) {
              obj.fullScreen = true;
              obj.fullScreen = 'true';
          }
      }
  }

  function change_language(){
      var idx = $('#languages').get(0).selectedIndex;
      var href = $('#languages').get(0).options[idx].value;

      location = href;
  }
