<div class="content-submenu"></div>
<div class="login-static-content">
	<h2>Bienvenido al “Sviva Tova” (Buen Entorno)</h2>
	<p>“Sviva Tova” es la red mundial que nos conecta entre los puntos del corazón, y los lleva paso a paso de una conexión corpórea externa a la conexión interna del otorgamiento. “Sviva Tova” es una orden de cabalistas en nuestra generación para la construcción de una nueva sociedad, basada en la conexión del amor y el otorgamiento, como la única solución para todos los problemas de la humanidad.</p>
	<p>El sitio web “Sviva Tova” lo conecta con la cobertura espiritual mundial diaria, actualiza en tiempo real todos los eventos mundiales del Instituto Bnei Baruch para el Estudio y la Investigación de la Cabalá, y le permite estar conectado con el kli mundial a cualquier hora del día.</p>
	<h3>“Sviva Tova”</h3>
	<ul> 
		<li>Lo regresa a la vida spiritual</li>
		<li>Lo conecta con lo natural y los mecanismos espirituales</li>
		<li>Lo lleva a una conexión de amor sin fin</li>
		<li>Acelera los cambios de su percepción de la realidad</li>
		<li>Le permite descubrir su libertad de elección</li>
		<li>Expresa su garantía mutua (Arvut) hacia la sociedad</li>
		<li>Usted necesita firmar o registrarse antes de continuar</li>
	</ul>	
	<!--
	<object width="382" height="240"><param name="movie" value="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="382" height="240"></embed></object>
	-->
</div>
