<div class="content-submenu"></div>
<div class="login-static-content">
  <h2>Добро пожаловать на сайт "Sviva Tova"!</h2>
  <p>"Sviva Tova" (хорошее окружение) - это международное сообщество, объединяющее "точки в сердце" и призванное помочь человеку постепенно перейти от внешней, материальной связи между нами к связи внутренней - любви и отдаче.</p>
  <p>"Sviva Tova" - это реализация указания каббалистов нашему поколению - построить новое общество, основанное на отдаче и любви, как единственное решение всех проблем человечества.</p>
  <p>"Sviva Tova " поможет тебе включиться в ежедневно обновляющийся духовный поток, сообщит обо всех событиях, происходящих в наших центрах по всему миру, позволяя находиться в постоянной связи со всей Мировой группой.</p>
  <p>Только правильное окружение способно вернуть тебя к духовной жизни и, подключив к системе духовной природы, продвинуть к состоянию вечной любви, ускорив переход к неискажённому восприятию реальности. Только пример товарищей помогает реализовать свободный выбор и выражает отношения поручительства в нашем сообществе. Вливайся и ощути себя в одной большой, дружной семье, где всегда можно найти помощь и поддержку в любой жизненной ситуации, где нет частных проблем - потому, что мы решаем их вместе.</p>
  <!--
	<object width="382" height="240"><param name="movie" value="https://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="382" height="240"></embed></object>
	-->
</div>
