<h2><%= t('admin.reports.remove_user') %></h2>

<div id="to-admin">
  <%= form_tag(admin_remove_user_action_url, :method => :delete) do %>
    Email of an existing user:
    <%= text_field_tag :email, @email, :class => ['text-input', 'short-input'],
      :autocomplete => admin_autocomplete_user_email_admin_tasks_url %>
    <%= submit_tag t('views.submit'), :class => 'button-small-main' %>
  <%- end %>
</div>