<% unless @stream_presets.blank? %>
  <ul id="preset_list" style="margin-top:5px;">
    <% for stream_preset in @stream_presets %>
      <li style="cursor:pointer;" onclick="<%= trigger_event(:edit_preset, :stream_preset_id => stream_preset.id) %>"><%= stream_preset.name %></li>
    <% end %>
  </ul>
<% end %>
