.bundle
Gemfile.lock
test-start.sh
test-stop.sh
db/*.sqlite3
db/schema.rb
log/*
tmp/**/*
nbproject/*
nbproject/**/*
config/database.yml
config/exceptional.yml
config/settings.yml
public/ckeditor_assets/**/*
.idea/*
public/system/**/*
.DS_Store
*.swp
*.swo
userfiles
lib/yaml2csv/**
.project
/*.backup
vendor/cache
.redcar
arvut_system.iml
.ruby-version
.ruby-gemset
public/page_cache/**/*
config/settings.yml
.rvmrc
