.bundle
Gemfile.lock
test-start.sh
test-stop.sh
db/*.sqlite3
db/schema.rb
log/*
tmp/**/*
nbproject/*
nbproject/**/*
config/database.yml
config/exceptional.yml
public/ckeditor_assets/**/*
.idea/*
public/system/**/*
.DS_Store
*.swp
*.swo
userfiles
lib/yaml2csv/**
.project