<div class="widget-login">
  <div class="inner">
    <h2><%= t 'devise.views.new_user' %></h2>

    <div class="submission">
      <%= render :partial => '/devise/shared/social_buttons' -%>
      <h6 style="margin-top: 5px;"><%=t('devise.views.email_registration').html_safe -%></h6>
    </div>
    <div class="clear-div"></div>
  </div>
</div>
