<div class="widget-login">
  <div class="inner">
    <h2><%= t 'devise.views.new_user' %></h2>

    <div class="submission">
      <%= render :partial => '/devise/shared/social_buttons' -%>
    </div>
    <div class="clear-div"></div>
  </div>
</div>
