<ul>
  <% case tab %>
  <% when :signin %>
    <li><a href="#signin"><%= t 'devise.views.sign_in' %></a></li>
  <% when :signup %>
    <li><a href="#signup"><%= t 'devise.views.sign_up' %></a></li>
  <% end %>
</ul>
