<div class="content-submenu"></div>
<div class="login-static-content">
	<h2>Seja bem vindo ao "Sviva Tova" (Bom ambiente)!</h2>
	<p>“Sviva Tova” é a rede mundial que conecta os pontos no coração, e os traz passo a passo , de uma conexão externa e corpórea para uma interna conexão de doação. “Sviva Tova” é uma ordem de Cabalistas em nossa geração para a construção de uma nova sociedade, baseada na conexão de amor e doação, como a única solução para todos os problemas da humanidade.</p>
	<p>O Website “Sviva Tova” conecta você a corrente espiritual diária, atualiza em tempo real todos os eventos mundiais do Instituto Bnei Baruch Kabbalah de Educação & Pesquisa, e lhe permite estar conectado com o Kli Mundial a qualquer hora do dia.</p>
	<h3>“Sviva Tova”…</h3>
	<ul> 
		<li>Te traz de volta a vida espiritual</li>
		<li>Conecta você ao natural e ao mecanismo espiritual</li>
		<li>Te lidera a uma conxão de amor sem fim</li>
		<li>Acelera as mudanças da sua percepção da realidade</li>
		<li>Te permite descobrir o seu livre arbítrio</li>
		<li>Expressa a sua garantia mutua (Arvut) para a sociedade</li>
	</ul>	
	<!--
	<object width="382" height="240"><param name="movie" value="https://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="382" height="240"></embed></object>
	-->
</div>
