<div class="content-submenu"></div>
<div class="login-static-content">
	<h2>ברוכים הבאים לסביבה טובה</h2>
	<p>"סביבה טובה" היא רשת עולמית הקושרת את הנקודות שבלב, ומביאה אותם בהדרגתיות מקשר חיצוני-גשמי לקשר פנימי של השפעה. "סביבה טובה" היא ציווי המקובלים בדורנו לבניית חברה חדשה, המבוססת על קשרי השפעה ואהבה, כפתרון היחיד לכל בעיות האנושות.</p>
	<p>האתר "סביבה טובה" מחבר אתכם לזרימה הרוחנית היומית, מעדכן אתכם בזמן אמת על כל אירועי "קבלה לעם" העולמיים, ומאפשר לכם לשמור על קשר עם הכלי העולמי בכל שעות היממה.</p>
	<h3>"סביבה טובה"...</h3>
	<ul> 
		<li>מחזירה אותך לחיים רוחניים</li>
		<li>מחברת אותך למנגנון הטבע הרוחני</li>
		<li>מובילה אותך לקשר של אהבה נצחית</li>
		<li>מזרזת את שינוי תפיסת המציאות שלך</li>
		<li>מממשת את הבחירה החופשית שלך</li>
		<li>מבטאת את הערבות שלך כלפי החברה</li>
	</ul>	
	<!--
	<object width="382" height="240"><param name="movie" value="https://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="382" height="240"></embed></object>
	-->
</div>
