<div class="content-submenu"></div>
<div class="login-static-content">
  <h2>"Sviva Tova"ya (İyi Çevre'ye) Hoşgeldiniz !</h2>
  <p>"Sviva Tova" kalpteki noktalarımızı birleştiren ve bizleri adım adım dış maddesel bağımızdan iç manevi bağımıza yönelten, ihsan etmeye yaklaştıran uluslararası bir ağ topluluğudur. Sviva Tova, Kabalistler tarafından neslimizde kurulması emredilen, sevgi ve ihsan etme ile kurulacak bağları temel alan yeni bir topluluk, yani tüm insanlığın bütün sorunlarına tek çözüm olacak bir birlik olgusudur.</p>
  <p>"Sviva Tova" web sitesi sizi güncel manevi akıma bağlar, uluslararası Bney Baruh Kabala Eğitim ve Araştırma Merkezi'ne bağlı olan güncel tüm etkinliklerden haberdar olmanızı ve Dünya Kli'si (Kap) ile gün içerisinde istediğiniz anda bağlanabilmenizi, etkileşim içinde olmanızı sağlar.</p>
  <h3>"Sviva Tova"</h3>
  <ul>
    <li>Sizi manevi yaşama geri getirir</li>
    <li>Sizi doğal, manevi mekanizmaya bağlar</li>
    <li>Size hiç bitmeyen bir sevgi bağına doğru rehberlik eder</li>
    <li>Gerçekleri algılamanızdaki değişimi hızlandırır</li>
    <li>Özgür seçiminiz hakkındaki farkındalığınızı ortaya çıkarır</li>
    <li>Toplum ile olan karşılıklı bağınızı (Arvut) ifade eder</li>
  </ul>
  <!--
	<object width="382" height="240"><param name="movie" value="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="382" height="240"></embed></object>
	-->
</div>