<div class="content-submenu"></div>
<div class="login-static-content">
	<h2>Welcome to the "Sviva Tova" (Good Environment)!</h2>
  <p>“Sviva Tova” is the worldwide network of the Bnei Baruch Kabbalah Education & Research Institute - <a href="http://www.kabbalah.info/">http://www.kabbalah.info</a> - that connects between points in the heart, and brings them a step-by-step external-corporeal connection to the inner connection of bestowal. “Sviva Tova” is an order of Kabbalists in our generation for the building of a new society, based on connections of love and bestowal, as the single solution for all of humanity’s problems.</p>
  <p>The website “Sviva Tova” connects you to the daily spiritual stream, updates you in real-time on all events of the worldwide Bnei Baruch Kabbalah Education & Research Institute, and allows you to stay connected with the World Kli at any time of the day.</p>
	<h3>“Sviva Tova”…</h3>
	<ul> 
		<li>Returns you to the spiritual life</li>
		<li>Connects you to the natural, spiritual mechanism</li>
		<li>Leads you to a connection of never-ending love</li>
		<li>Speeds up the changes of your perception of reality</li>
		<li>Allows you to realize your free choice</li>
		<li>Expresses your mutual guarantee (Arvut) to society</li>
	</ul>	
	<!--
	<object width="382" height="240"><param name="movie" value="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="382" height="240"></embed></object>
	-->
</div>
