div.selector select,
div.checker input,
div.radio input,
div.uploader input{
    filter: alpha(opacity:0);
}
.ui-helper-hidden-accessible { position: absolute; top: -1000px; left:0;}
.he.layout-stream .item {
    zoom: 100%;
}
.he.layout-stream .item h2 a {
    display: inline-block;
}
