body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height:1.3;
}
.test{
	box-shadow: 10px 10px 20px #000;
	behavior: url(ie-css3.htc);
}
/* common classes */
.float_right{
	float:right;
}
.float_left{
	float:left;
}
.clear{
	clear:both;
}
.underline{
	border-bottom:1px solid #b3b3b3;
}
.blue_gradient{
	background-image: -moz-linear-gradient(bottom, #006bb6, #009fb6); /* FF3.6 */
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #006bb6),color-stop(1, #009fb6)); /* Saf4+, Chrome */
	css3-background-image: #006bb6, #009fb6;
/*	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#006bb6', endColorstr='#009fb6'); /* IE6,IE7 */
/*	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#006bb6', endColorstr='#009fb6')"; /* IE8 */
}
.rounded_3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-clip: padding-box;
	behavior: url(ie-css3.htc);
}
.rounded_5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	behavior: url(ie-css3.htc);
}
.rounded_10{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-background-clip: padding-box;
	behavior: url(ie-css3.htc);
}
/* structure */
#wrapper{
	margin:200px auto 20px;
	width:940px;
	padding:10px;
	background:#fff;
	
	-webkit-box-shadow:0px 0px 10px #aaa;
	-moz-box-shadow:0px 0px 10px #aaa;
	box-shadow: 0px 0px 10px #aaa;
	behavior: url(ie-css3.htc);
}
.menu_column{
	width:150px;
	height:800px;
}
.main_column{
	width:540px;
	margin:0 10px;
}
.main_subcolumn_1{
	width:80%;
	margin:0 2% 0 0;
}
.main_subcolumn_2{
	width:18%;
}
.widgets_column{
	width:230px;
	background:#ddd;
	height:800px;
}
#header{
	height:40px;
	margin:0 0 10px;
	z-index:2;
	position:relative;
}
/* inbox list*/
.inbox_title {
	padding:0 0 10px;
	height:60px;
	line-height:60px;
}
.inbox_title h2{
	font-size:20px;
}
/* inbox item*/
.inbox_item{
	margin:0 0 10px;
}
.sticky_item{
/*	padding:10px; */
	border-bottom-width:2px;
	background-color:#DCF2FF;
}
.inbox_item .main_subcolumn_1, .inbox_item .main_subcolumn_2{
	padding:0 0 10px;
}
.sticky_item .main_subcolumn_2{
	background:#fff;
}
.sticky_item .inbox_item_title {
	margin:10px 0  10px 10px;
}
.sticky_item .inbox_item_body p{
	padding:0 0 0 40px;
}
.sticky_item .inbox_item_footer{
	padding:30px 0 0 40px;
}
.inbox_item_title{
	height:20px;
	line-height:20px;
	font-size:18px;
	margin:0 0 10px;
}
.inbox_item_title a{
	font-weight:bold;
	color:#006AB6;
}

.inbox_item_title.read a{
	font-weight:normal;
}
.inbox_item_icon, .menu_icon{
	display:block;
	width:20px;
	height:20px;
	background-image:url(../images/icons.png);
	background-repeat:no-repeat;
	float:left;
	margin:0 10px 0 0;
}
.all_icon{
	background-position:left 30px;
}
.assignment_icon{
	background-position:left top;
}
.assignment_done_icon{
	background-position:left -30px;
}
.assignment_new_icon{
	background-position:left -60px;
}
.event_icon{
	background-position:left -90px;
}
.message_icon{
	background-position:left -120px;
}
.article_icon{
	background-position:left -150px;
}
.inbox_item_points{
	font-size:10px;
	height:20px;
	line-height:20px;
	text-align:right;
	color:#555;
	color:#006AB6;
	margin:0 0 10px;
}

.inbox_item_points span{
	display:block;
	float:right;
	position:relative;
	height:20px;
	font-weight:bold;
	font-size:12px;
	color:#fff;
	text-align:center;
	min-width:10px;
	margin:0 0 0 3px;
	padding:0 5px;
	z-index:5;
}
.inbox_item_body p{
	padding:0 0 0 30px;
}
.inbox_item_tags{
	text-align:right;
}

.tag{
	height:15px;
	line-height:15px;
	overflow:hidden;
	white-space:nowrap;
	margin:0 0 3px 3px;	
}
.inbox_item_tags .tag{
/*	float:right; */
}

.tag a{
	font-size:9px;
	font-weight:bold;
	display:block;
	color:#666;
	padding:0 5px;
	background:#fff;

}
.tag a:hover{
	background:#DCF2FF;
	color:#2c2c2c;
	text-shadow: #e7f5ff 0 1px 0;
}
.inbox_item_footer{
	padding:30px 0 0 30px;
	font-size:10px;
	color:#555;
}
.side_menu{
	padding:0 0 5px;
	margin:0 0 10px;
}
.menu_column_tags .tag{
	float:left;
}
.side_menu_item{
	clear:both;
	height:18px;
	line-height:18px;
	margin:0 0 5px;
	padding: 0 0 0 3px;
}
.side_menu_item_current{
	margin:0 0 5px -10px;
	padding:3px 3px 3px 13px;
	background:#DCF2FF;
}
.menu_icon{
	height:18px;
	margin:0 5px 0 0;
}
.menu_column_title{
	font-size:14px;
	margin:0 0 10px;
}
.menu_column_user{
	padding:0 0 10px;
	margin:0 0 10px;
	height:60px;
	font-size:11px;
}
.user_picture{
	width:56px;
	height:56px;
	border:2px solid #006AB6;
	margin:0 5px 0 0;
}
h1{
	font-family: 'Droid Serif', arial, serif;
	font-size:28px;
	color:#fff;
	font-weight:bold;
	font-style:italic;
	text-shadow: rgba(0, 0, 0, .3) 0 2px 1px;
	line-height:40px;
	margin: 0 0 0 10px;
}