/*
body{
	background: #00aeef url(../images/skin/bg_he.png) repeat-x 0 0;
}
.skin_bg {
	background: url(../images/skin/bg_image_he.png) no-repeat center 0px;
    top:0px;
}
.wrapper{
	margin:180px auto 20px;
}
*/
