body{
	background: #8dd4e6 url(../images/skin/bg.png) repeat-x 0 0;
}
.skin_bg {
	background: url(../images/skin/bg_image_en.png) no-repeat center 0px;
    top:0px;
}
.wrapper{
	margin:180px auto 20px;
}
