// basic styles
@import "_basic-styles-rtl";
@import "_colorbox-rtl";
@import "_uniform";

// Main stream
.layout-stream{
	//menubar
	.column-menu{
		h4{
			margin:0 0 @margin-bottom-basic;
		}
		hr{
			height:2px;
			background:@color-grey;
			margin:10px 0 10px 10px;
		}
	}
	.side_menu{
		margin: 10px 0 0;
		li{
			position:relative;
			margin:0 -10px 0 0;
			height:22px;
			line-height:22px;
			overflow:hidden;
			a{
				.undecorated;
				display:block;
				position:absolute;
				top:0;
				right:0;
				padding:0 35px 0 10px;
				color:@color-menu;
				width:100%-25; // no - comments 
					
			}
			a:hover{
				background:@color-main-dark;
				color:@color-white;
			}
		}
		.current a{
			background:@color-stream-background;
		}
		.current a:hover{
			background:@color-stream-background;
			color:@color-menu;
		}
		.read a{
			font-weight:normal;
		}
		.icon{
			padding:0 25px 0 0;
		}
		.icon span{
			right:10px;
			top:2px;
		}
	}
	.side_tags{
		li{
			line-height:@font-line-height;
			.font-small;
			height:auto;
		}
		a{
			padding:0 10px 0 15px !important;
			position:static !important;
			width:100%-14 !important; // no - comments 
		}
	}

	//items
	.content-stream{
		padding:@padding-basic;
		border: 2px solid @color-stream-background;
		background: white;
		position: relative;
		top: 1px;
		.rounded-corners;
		.item{
			h2{
				margin:0 0 10px;
			}
			h2.icon{
				padding: 0 20px 0 0
			}
			hr{
				height:1px;
				background:@color-separator;
				margin:0 20px 10px 0;
			}
			p{
				margin-bottom:@margin-bottom-basic;
				padding:0 20px 0 0;
			}
                        .preview_image{
                            padding: 0 20px 0 0;
                            .float_right;
                            height:75px;
                            margin:0 0 5px 10px;
                        }
			.item-metadata{
				color:@color-dimmed-text;
				.font-small;
                                clear: both;
			}
			.more_link{
				display:block;
				text-align:left;
				.font-small;
				margin:10px 0 0 20px;
			}
		}
		.more_items{
			height: 22px;
			line-height: 22px;
			padding: 0 0 0 20px;
		}
		.sticky_pages{
                    border: 4px solid @color-stream-background;
                    @radius: 5px;
                    .rounded-corners;
                    padding: 10px 10px 0;
                    margin: -12px -12px 10px;
		}
	}
        .event-stream{
            .admin{
                display:none;
            }
            .tabs{
                position: relative;
                height: 22px;
                margin-top: 8px;
                .admin-link{
                    position:absolute;
                    left:0;
                    top:0;
                    padding:0;
                    a{
                        font-size: @font-basic-size;
                        text-decoration:underline;
                        color: #006ab6;
                    }
                }
                span{
                    padding: 6px;
                    margin: 0;
                    a{
                        font-size: @font-basic-size;
                        text-decoration:underline;
                        color: #006ab6;
                    }
                }
                span.active{
                    background-color: #f9f7e8;
                    a{
                        text-decoration:none;
                        color: #f15a24;
                        .bold;
                    }
                }
            }
            .bgnd{
                background-color: #f9f7e8;
                padding: 46px 6px;
                position: relative;
                .support{
                    position:absolute;
                    top: 10px;
                    left: 340px;
                    .online-status a{
                        color: inherit;
                    }
                 }
                .player{
                    border:1px solid #808080;
                    .float_right;
                    margin:0;
                    padding:4px;
                    width:400px;
                    height: 305px;
                    background-color: white;
                }
                #object{
                    width:400px;
                    height: 305px;
                }
                form{
                    .float_right;
                    margin: 8px -7px 5px 10px;
                }
                .services{
                    width:315px;
                    height: 305px;
                    .float_left;
                    padding: 5px;
                    background-color: #efedde;
                    .tabs{
                        background-color: #f9f7e8;
                        right:425px;
                        position:absolute;
                        top:16px;
                        span.active{
                            background-color: #efedde;
                        }
                    }
                    .content{
                        position: relative;
                        img{
                            width: 290px;
                            height: 217px;
                            position: absolute;
                            top: 4px;
                            right: 4px;
                        }
                        .images{
                            width: 290px;
                            height: 217px;
                            background-color:white;
                            border:1px solid #808080;
                            padding:4px;
                            position:relative;
                            margin:20px auto 10px;
                        }
                        .buttons{
                            text-align: center;
                            padding: 0 5px;
                            a{
                                padding: 0 5px;
                            }
                            .left_button{
                                .float_right;
                            }
                            .right_button{
                                .float_left;
                            }
                            #new_sketches{
                                color: @color-event-orange;
                                .bold;
                                margin:10px 0 0;
                                font-size: @font-basic-size - 1;
                            }
                        }
                        #questions{
                            display: none;
                            .ask-question-toggle{
                                text-align: center;
                                margin: 10px 0;
                            }
                            .question-list{
                            }
                            dl{
                                overflow-y: auto;
                                border-top: 1px solid #666666;
                                height: 250px;
                                margin: 0 10px;
                                dt{
                                    padding: 5px 10px 0;
                                    img{
                                        position: static;
                                        height: 25px;
                                        width: 25px;
                                        margin: 5px 0 0 8px;
                                        .float_right;
                                    }
                                }
                                dd{
                                    padding: 0 10px 5px;
                                }
                                .even{
                                    background: #feedd0;
                                }
                                .odd{
                                    background: #fff;
                                }
                                .who{
                                    color: @color-event-orange;
                                }
                                .where{
                                    color: #666666;
                                }
                            }
                            .question-ask{
                                display:none;
                                .ask-div{
                                    text-align: center;
                                    margin: 10px 0;
                                }
                                form{
                                    float: none;
                                    border-top: 1px solid #666;
                                    margin: 10px;
                                    padding: 10px 0 0;
                                    .inputs{
                                        label{
                                            display:block;
                                        }
                                        input, textarea{
                                            width:94%;
                                        }
                                    }
                                    .buttons{
                                        margin: 10px 0 0;
                                        text-align: right;
                                    }
                                }
                            }
                        }
                        #sketches{
                            display:none;
                        }
                        #schedule{
                            .days{
                                padding-bottom: 10px;
                                height: 20px;
                                a{
                                    font-size: 10px;
                                    text-decoration: underline;
                                }
                                a.active, a:hover{
                                    color: @color-event-orange;
                                    text-decoration: none;
                                }
                            }
                            .weekdays{
                                position: relative;
                                height: 280px;
                                overflow: auto;
                                .weekday{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: #efedde;
                                    height: 280px;
                                    width: 100%;
                                    .hdr{
                                        font-weight: bold;
                                        border-bottom: 2px solid #999999;
                                    }
                                    .time{
                                        width:50px;
                                    }
                                    tr {
                                        border-bottom: 1px dashed #999;
                                    }
                                    .item1{
                                        color: @color-event-orange;
                                    }
                                    table{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
	.profile_editor{
		background:@color-profile-background;
		.rounded-corners;
		padding: 15px;
		dl{
			dt{
				.float_right;
				width:200px;
				clear:both;
				display:block;
			}
			dd{
				width: 300px;
				.float_right;
				p{
					line-height:1.3em;
				}
			}
		}
                textarea, input{
        		width: 176px;
                        margin:2px;
                }
		hr.separator{
			margin: 20px 0;
		}
                label.error {
                    color:red;
                }
	}
	.widget-profile{
		.widget-style1;
		background:@color-profile-background;
		padding: 10px 10px 0;
		img.avatar{
			height:40px;
			width:40px;
			.float_right;
			margin:0 0 5px 10px;
		}
		div{
			.font-small;
			margin-top:7px;
		}
		h5{
		}
	}
	.widget-blog{
		.widget-style2;
		span{
			display: block;
			color: @color-grey;
			.font-small;
		}
		h4 a{
			color:@color-orange;
		}
	}
}

.layout-login{
	object, embed{
		display:block;
		margin: 20px auto 0;
	}
	h2{
		margin: 0 auto 10px;
	}
	.widget-login{
		.widget-style3;
		#user_remember_me{
			margin: 0;
		}
		h2{
			.centered;
		}
		.submission{
			.centered;
			input {
				margin: 15px 0;
			}
			.arial {
                                font-family:Arial;
                                font-size:16px;
			}
		}
		.button-big-main{
			margin: 30px auto 40px;
		}
		.text-input{
			width: 100%;
		}
		ul ul{
			margin-bottom: 10px;
		}
                input, textarea{
                    pading:0;
                }
	}
	.widget-register{
		.widget-style2;
		span{
			display: block;
			color: @color-grey;
			.font-small;
		}
		h4 a{
			color:@color-orange;
		}
	}
	.faq{
		ol{
			list-style:decimal outside none;
			padding: 0 @padding-basic * 2.5 0 @padding-basic;
		}
		li{
			padding: @padding-basic 0;
		}
	}
}

// Pages in popup
.layout-popup{
	background: 0 none !important;
	padding:0 !important;
	.wrapper{
		margin: 0px !important;
		@radius: 0;
		@blur-size: 0;
		.rounded-corners;
		.drop-shadow;
		width:640px;
	}
	.edit-stream{
		padding:0;
		hr{
			height:1px;
			background:@color-separator;
			margin:10px 0px;
			.clear;
		}
		h1{
			margin:0 0 10px;
		}
		.description{
			padding:@padding-basic 0;
		}
		.item{
			margin: 10px 0;
			h4{
				margin:0 0 10px;
			}
			hr{
				height:3px;
				background:@color-separator;
				margin:10px 0px;
			}
			p{
				margin-bottom:@margin-bottom-basic;
				padding:0 10px 0 0;
			}
			.item-metadata{
				color:@color-dimmed-text;
				.font-small;
                                clear:both;
			}
			.form_element{
				margin: 0 0 10px;
				dt{
					.bold;
					margin: 10px 0 5px;
				}
				dd{
					padding: 0 10px 0 0;
					.rate_item{
						.float_right;
						label, input{
							display: block;
							.centered;
						}
					}
				}

			}
			.video{
				object{
					margin: 10px;
				}
				.video_object{
					display:block;
					.float_right;
					width:168px;
					height:125px;
					margin: 0 0 0 20px;
					.centered;
					background-repeat: no-repeat;
					object{
						margin: 0 0 0 10px;
					}
					a{
						cursor:pointer;
						.undecorated;
					}
					img{
						margin: 44px 64px 0 0;
					}
				}
			}
			.other texarea{
				margin: 0 25px 0 0;
			}
		}
		.sticky{
		}
		#page_submit{
			.float_left;
		}
                label.error {
                    color:red;
                    display:block;
                    font-size:12px;
                    font-weight:normal;
                }
	}
}

// Signup screen
.layout-signup{
	.widget-register{
		.widget-style3;
		.centered;
		.text-input{
			width: 100%;
		}
		ul ul{
			margin-bottom: 10px;
		}
		li {
			text-align: right;
		}
	}
	.field_with_errors input{
		border: 1px solid @color-red;
	}
	.field_with_errors label{
		color: @color-red;
	}
	.submission{
		.centered;
		margin: 20px 0;
	}
	h2{
		margin: 0 auto 10px;
	}
}
.login-static-content{
    ul{
        list-style: disc inside;
        padding: 10px 10px 0 0;
        color: #666666;
    }
    h3{
        color: #666666;
        font-size:14px;
    }
    p{
        margin: 0 0 10px;
    }
}

#admin-menu{
    dt{
        margin: 10px 0;
    }
    dd{
        margin: 0 10px;
    }
}
#user_lists{
    tr{
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    td{
        padding:0 10px;
    }
}

//counter
#cdcontainer {
    position:absolute;
    top:115px;
    right:50%;
    width:259px;
    margin:0 -128px 0 0;
    span{
        display:block;
        .float_left;
        width:25px;
        height:36px;
        margin:0 2px;
    }
    .d, .dots, .line{
        background:url(../images/counter_numbers.png) no-repeat 0 0;
    }
    .number_0{
        background-position:-27*0px 0;
    }
    .number_1{
        background-position:-27*1px 0;
    }
    .number_2{
        background-position:-27*2px 0;
    }
    .number_3{
        background-position:-27*3px 0;
    }
    .number_4{
        background-position:-27*4px 0;
    }
    .number_5{
        background-position:-27*5px 0;
    }
    .number_6{
        background-position:-27*6px 0;
    }
    .number_7{
        background-position:-27*7px 0;
    }
    .number_8{
        background-position:-27*8px 0;
    }
    .number_9{
        background-position:-27*9px 0;
    }

    .dots, .line{
    width:5px;
        background-position:-280px 0;
    }
    .line{
        background-position:-307px 0;
    }
}
.skinlink{
    display:block;
    width:360px;
    height:200px;
    margin:0 auto;
    position:relative;
}
