<div class="content-submenu">
  <em><%= I18n.t("stream.#{page.page_type}s") %></em> &gt; <%= page.title %>
	<span class="back"><%= link_to I18n.t("stream.back"), {}, :onclick => "javascript:history.back(); return false;" %></span>
</div>
