%section{"data-role" => "page", :id => 'languages', 'data-add-back-btn' => 'true'}
  %header{"data-role" => "header"}
    %h1 Select Language
  %div{"data-role" => "content"}
    %ul{'data-role' => 'listview', 'data-inset' => "true", 'data-theme' => 'b'}
      - @languages.each do |l|
        %li= link_to l.language, current_user ? mobile_index_url(l.locale) : new_user_session_url(l.locale)
