<h2 class="menu_column_title">Tags:</h2>
<ul class="menu_column_tags">
  <li class="tag"><a href="">Lorem</a></li>
  <li class="tag"><a href="">exercitation</a></li>
  <li class="tag"><a href="">adipisicing elit</a></li>
  <li class="tag"><a href="">Lorem ipsum</a></li>
  <li class="tag"><a href="">Ut enim ad</a></li>
  <li class="tag"><a href="">dolore</a></li>
  <li class="tag"><a href="">elit</a></li>
  <li class="tag"><a href="">eiusmod</a></li>
  <li class="tag"><a href="">magna aliqua</a></li>
  <li class="tag"><a href="">dolore magna</a></li>
  <li class="tag"><a href="">adipisicing elit</a></li>
  <li class="tag"><a href="">Lorem ipsum</a></li>
  <li class="tag"><a href="">Ut enim ad</a></li>
  <li class="tag"><a href="">dolore</a></li>
  <li class="tag"><a href="">elit</a></li>
  <li class="tag"><a href="">eiusmod</a></li>
  <li class="tag"><a href="">magiqua</a></li>
  <li class="tag"><a href="">dolore magna</a></li>
  <li class="tag"><a href="">cing elit</a></li>
  <li class="tag"><a href="">Lorem ipsum</a></li>
  <li class="tag"><a href="">Ut enim ad</a></li>
  <li class="tag"><a href="">dolore</a></li>
  <li class="tag"><a href="">elit</a></li>
  <li class="tag"><a href="">eiod</a></li>
  <li class="tag"><a href="">magna aliqua</a></li>
  <li class="tag"><a href="">dolore</a></li>
</ul>
