<div class="one_column content clear">
  <div class="menu_column float_left">
    <div class="menu_column_user underline">
      <div><%= render 'user_profile' %></div>
      <div><%= render 'page_menu' %></div>
      <div><%= render :partial => 'tag', :collection => @tags, :layout => 'menu_tags_layout' %></div>
    </div>
  </div>
  <div class="main_column float_left">
    <%= render 'page_stream' %>
  </div>
  <div class="widgets_column float_right">right</div>
</div>
