<div align="center" width="100%">
<% if I18n.locale == :ru %>
      <a href="http://www.kabbalah.info/maaser/rus/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          Внести Маасер
        </button>
      </a>
<% elsif I18n.locale == :es %>
      <a href="http://www.kabbalah.info/maaser/spa/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          Pagar Maaser
        </button>
      </a>
<% elsif I18n.locale == :he %>
      <a href="http://www.kabbalah.info/maaser/heb/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          לתת מעשר
        </button>
      </a>
<% else %>
    <!-- English and other languages -->
    <a href="http://www.kabbalah.info/maaser/eng/" target="_blank">
      <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
        Give Maaser
      </button>
    </a>
<% end %>
</div>