<style>
    .radiozohar-button {
        display    : block;
        height     : 60px;
        width      : 220px;
        background : transparent url(images/radio1.jpg) no-repeat 0 0;
    }
    .music-button {
        display    : block;
        height     : 56px;
        width      : 220px;
        background : transparent url(images/music.jpg) no-repeat 0 0;
    }
    button.button-middle-second.arial.button-middle-second-green {
        background: rgb(42, 165, 86);
        border: 1px solid #15B542;
        border-top: 1px solid #7EE5A3;
        border-bottom: 1px solid #156225;
    }

</style>
<div align="center" width="100%">
  <% if I18n.locale == :ru %>
      <a href="http://www.kabbalah.info/maaser/rus/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          Внести Маасер
        </button>
      </a>
      <a href="https://checkout.kabbalah.info/ru/payments/new?project_id=help_friend" target="_blank">
        <button class="button-middle-second arial button-middle-second-red" style="margin-top:10px;width:100%;cursor:pointer;color:#ffffff;font-size:120%">
          Help Haver
        </button>
      </a>
      <a href="https://docs.google.com/document/d/1LiAc8R5lXVTXYcAZTkMGoDCfKyYZxKZIUsNIdq6SWl0/edit" target="_blank">
        <button class="button-middle-second arial button-middle-second-green" style="margin-top:10px;width:100%;cursor:pointer;color:#ffffff;font-size:120" %>
           Пишите Нам
        </button>
      </a>
  <% elsif I18n.locale == :es %>
      <a href="http://www.kabbalah.info/maaser/spa/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          Pagar Maaser
        </button>
      </a>
  <% elsif I18n.locale == :he %>
      < a href="http://www.kabbalah.info/maaser/heb/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          לתת מעשר
        </button>
      </a><br><br>
      <%#a href="http://www.kabbalahgroup.info/internet/he#pages/18351">
        <button class="button-middle-third arial" style="width:100%;background-color:#e28626;cursor:pointer;color:#ffffff;font-size:120%">
          נגן חברתי
        </button>
      </a%>
      <a href="https://checkout.kabbalah.info/he/payments/new?project_id=help_friend" target="_blank">
        <button class="button-middle-second arial button-middle-second-red" style="margin-top:10px;width:100%;cursor:pointer;color:#ffffff;font-size:120%">
          Help Haver
        </button>
      </a>
      <a href="http://icecast.kab.tv/radiozohar2014.mp3" target="_blank" class="radiozohar-button"></a><br>
      <a href="https://soundcloud.com/kabbalah-laam-music" target="_blank" class="music-button"></a><br>
  <% elsif I18n.locale == :pt %>
      <a href="http://www.kabbalah.info/maaser/pt/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          Dar Maaser
        </button>
      </a>
      <a href="https://checkout.kabbalah.info/en/payments/new?project_id=help_friend" target="_blank">
        <button class="button-middle-second arial button-middle-second-red" style="margin-top:10px;width:100%;cursor:pointer;color:#ffffff;font-size:120%">
          Help Haver
        </button>
      </a>
  <% else %>
      <!-- English and other languages -->
      <a href="http://www.kabbalah.info/maaser/eng/" target="_blank">
        <button class="button-middle-second arial" style="width:100%;background-color:#81b253;cursor:pointer;color:#ffffff;font-size:120%">
          Give Maaser
        </button>
      </a>
      <a href="https://checkout.kabbalah.info/en/payments/new?project_id=help_friend" target="_blank">
        <button class="button-middle-second arial button-middle-second-red" style="margin-top:10px;width:100%;cursor:pointer;color:#ffffff;font-size:120%">
          Help Haver
        </button>
      </a>
  <% end %>
</div>
