<ul class="side_menu">
  <%- ['All', 'Assignments', 'Articles', 'Messages', 'Events'].each do |name|
    name_downcase = name.downcase
    icon = name_downcase.singularize
    count, style = ['', 'read'] # ZZZ pages_menu_count_and_style(name_downcase)
    current = name_downcase == params[:stream_filter] ? 'current' : ''
    name = t("stream.#{name_downcase}")
    -%>
    <li class="<%= style %> <%= current %>"><h5 class="<%= icon %>-icon icon">
        <%= link_to "#{name}#{count}".html_safe,
          stream_path(:stream_filter => name_downcase), :remote => true %>
        <span></span>
      </h5></li>
  <%- end -%>
</ul>
