<div class="content-submenu">
<%#= link_to 'New Items', stream_path(:stream_filter => @stream_subclass, :modifier => 'new'), :remote => true %>
<%#*|%>
<%#= link_to 'All Items', stream_path(:stream_filter => @stream_subclass, :modifier => 'all'), :remote => true %>
</div>
<div class="content-stream">
  <%= render 'page_substream' %>
</div>
