<div class="content-submenu"></div>
<div class="login-static-content">
  <h2>Добро пожаловать в "Sviva tova"!</h2>
  <p>"Sviva tova" (хорошее окружение) - это международное сообщество, объединяющее "точки в сердце", и призванное помочь человеку постепенно перейти от внешней, материальной связи между нами к связи внутренней - любви и отдаче. "Sviva tova" - это реализация указания каббалистов нашему поколению - построить новое общество, основанное на отдаче и любви, как единственное решение всех проблем человечества.</p>
  <p>"Sviva tova" помогает включиться в ежедневно обновляющийся духовный поток, сообщает обо всех событиях, происходящих в наших центрах по всему миру, позволяя находиться в постоянной связи со всем мировым кли.</p>
  <h3>"Sviva tova":</h3>
  <ul>
    <li>возвращает тебя к духовной жизни</li>
    <li>подключает к системе духовной природы</li>
    <li>продвигает к состоянию вечной любви</li>
    <li>ускоряет переход к неискаженному восприятию реальности</li>
    <li>помогает реализовать свободный выбор</li>
    <li>выражает отношения поручительства в нашем сообществе</li>
  </ul>
  <!--
	<object width="382" height="240"><param name="movie" value="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xBjujkdwYSw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="382" height="240"></embed></object>
	-->
</div>