<div id="current_state" style="text-align:center;margin:0 100px 20px 0;font-weight:bold;line-height:22px">
	Current state:<br/><span style="font-size:24px;<%= stream_state_css(@stream_preset) %>" ><%= @stream_preset.stream_state_text.upcase %></span>
</div>