<div class="other fields"><b><%= t('admin.questionnaires.other') %>. </b>
  <%= f.text_field :label, :class => 'text' %>

  <%= link_to_remove_fields(t('admin.questionnaires.remove'), f) if f.object  %>
</div>