<%= widget_div do -%>
  <div class="images">
  </div>
  <div class="buttons">
    <a class="left_button" href="#" onclick="kabtv.sketches.first(); return false;">&laquo; First</a>
    <a class="left_button" href="#" onclick="kabtv.sketches.prev(); return false;">&lsaquo; Prev</a>
    <span class="title"></span>
    <a class="right_button" href="#" onclick="kabtv.sketches.last(); return false;">Last &raquo;</a>
    <a class="right_button" href="#" onclick="kabtv.sketches.next(); return false;">Next &rsaquo;</a>
    <div class="clear"></div>
    <a id="new_sketches" class="right_button hidden" href="#" onclick="kabtv.sketches.last(); return false;">There are new sketches &raquo;</a>
    <div class="clear"></div>
  </div>
<%- end -%>

<script type="text/javascript">
  $(function (){
    kabtv.sketches.pollSketches();
    kabtv.sketches.startPollingSketches();
  });

  (function ($) {

    if (!window.kabtv) { window.kabtv = {}; }
    if (!kabtv.sketches) { kabtv.sketches = {}; }

    $.extend(kabtv.sketches, {
      total: 0,
      $current: 0,
      $images: 0,
      $first: 0,
      $last: 0,
      $in_transition: false,

      pollID: 0,
      pollSketches: function() {
        $.ajax({
          url: '<%= url_for_event(:classboard) %>',
          data: {
            total: kabtv.sketches.total
          },
          success: kabtv.sketches.transit_init
        });
      },

      startPollingSketches: function (){
        kabtv.sketches.pollID = setInterval(kabtv.sketches.pollSketches, 30000);
      },

      stopPollingSketches: function (){
        clearInterval(kabtv.sketches.pollID);
        kabtv.sketches.pollID = 0;
      },

      transit_init: function (data){
        // Note: data is already inserted by JS received from server
        kabtv.sketches.$images = $('.content .images img');
        if (kabtv.sketches.total == 0 && kabtv.sketches.$images.length > 0) { // The first time some images were added
          kabtv.sketches.total = kabtv.sketches.$images.length;
          kabtv.sketches.$last = kabtv.sketches.$current = kabtv.sketches.$images.last();
          kabtv.sketches.$first = kabtv.sketches.$images.first();
          kabtv.sketches.$last.css('z-index', 10); // Become the upper for sure
          $('.title').text(kabtv.sketches.total + '/' + kabtv.sketches.total);
        } else if (kabtv.sketches.total != 0 && kabtv.sketches.total != kabtv.sketches.$images.length) { // Only if more images are here now
          kabtv.sketches.total = kabtv.sketches.$images.length;
          kabtv.sketches.$last = kabtv.sketches.$images.last();
          $('.title').text((kabtv.sketches.$current.index() + 1) + '/' + kabtv.sketches.total);
          $('#new_sketches').show();
        }
      },

      first: function (){
        kabtv.sketches.transit_to(kabtv.sketches.$first);
      },

      last: function (){
        kabtv.sketches.transit_to(kabtv.sketches.$last);
        $('#new_sketches').hide();
      },

      prev: function (){
        kabtv.sketches.$item = kabtv.sketches.$current.prev();
        kabtv.sketches.transit_to(kabtv.sketches.$item);
      },

      next: function (){
        kabtv.sketches.$item = kabtv.sketches.$current.next();
        kabtv.sketches.transit_to(kabtv.sketches.$item);
      },

      transit_to: function ($item){
        if (kabtv.sketches.total <= 1 || $item.length == 0 ||
          kabtv.sketches.$current === $item || kabtv.sketches.$in_transition) return;
        kabtv.sketches.$in_transition = true;

        $item.css('z-index', 9); // Beneath the upper one
        $('.title').text(($item.index() + 1) + '/' + kabtv.sketches.total);
        kabtv.sketches.$current.animate({opacity: 0}, 1000, 'linear', // Hide the upper one
        function(){
          kabtv.sketches.$item.css('z-index', 10); // Become the upper
          kabtv.sketches.$current.css({'z-index': 1, 'opacity': 1}); // Go back
          kabtv.sketches.$current = $item;
          kabtv.sketches.$in_transition = false;
        }
      );
      }
    });

  })(jQuery);
</script>
