<%= widget_div do -%>
  <div class="images">
  </div>
  <div class="buttons">
    <a class="left_button" href="#" onclick="kabtv.sketches.first(); return false;">&laquo; First</a>
    <a class="left_button" href="#" onclick="kabtv.sketches.prev(); return false;">&lsaquo; Prev</a>
    <span class="title"></span>
    <a class="right_button" href="#" onclick="kabtv.sketches.last(); return false;">Last &raquo;</a>
    <a class="right_button" href="#" onclick="kabtv.sketches.next(); return false;">Next &rsaquo;</a>
    <div class="clear"></div>
    <a id="new_sketches" class="right_button hidden" href="#" onclick="kabtv.sketches.last(); return false;">There are new sketches &raquo;</a>
    <div class="clear"></div>
  </div>
<%- end -%>

<script type="text/javascript">
  $(function (){
    kabtv.sketches.url_for_classboard = '<%= url_for_event(:classboard) %>';
    
    kabtv.sketches.pollSketches();
    kabtv.sketches.startPollingSketches();
  });
</script>
