<%= widget_div do -%>
  <div class="images">
  </div>
  <div class="buttons">
    <a class="left_button" href="#" onclick="first(); return false;">&laquo; First</a>
    <a class="left_button" href="#" onclick="prev(); return false;">&lsaquo; Prev</a>
    <span class="title"></span>
    <a class="right_button" href="#" onclick="last(); return false;">Last &raquo;</a>
    <a class="right_button" href="#" onclick="next(); return false;">Next &rsaquo;</a>
    <div class="clear"></div>
    <a id="new_sketches" class="right_button hidden" href="#" onclick="last(); return false;">There are new sketches &raquo;</a>
    <div class="clear"></div>
  </div>
<%- end -%>

<script type="text/javascript">
  var total = 0,
  $current = 0,
  $images,
  $first,
  $last,
  $in_transition = false;

  var pollID = 0;
  var pollSketches = function() {
    $.ajax({
      url: '<%= url_for_event(:classboard) %>',
      data: {
        lang: 'English',
        total: total
      },
      success: transit_init
    });
  }
  
  $(function (){
    pollSketches();
    startPollingSketches();
  });

  function startPollingSketches(){
    pollID = setInterval(pollSketches, 30000);
  }
  
  function stopPollingSketches(){
    clearInterval(pollID);
    pollID = 0;
  }

  function transit_init(data){
    $images = $('.content .images img');
    if (total == 0 && $images.length > 0) { // The first time some images were added
      total = $images.length;
      $last = $current = $images.last();
      $first = $images.first();
      $last.css('z-index', 10); // Become the upper for sure
      $('.title').text(total + '/' + total);
    } else if (total != 0 && total != $images.length) { // Only if more images are here now
      total = $images.length;
      $last = $images.last();
      $('.title').text(($current.index() + 1) + '/' + total);
      $('#new_sketches').show();
    }
  }

  function first(){
    transit_to($first);
  }

  function last(){
    transit_to($last);
    $('#new_sketches').hide();
  }

  function prev(){
    $item = $current.prev();
    transit_to($item);
  }

  function next(){
    $item = $current.next();
    transit_to($item);
  }

  function transit_to($item){
    if (total <= 1 || $item.length == 0 || $current === $item || $in_transition) return;
    $in_transition = true;

    $item.css('z-index', 9); // Beneath the upper one
    $('.title').text(($item.index() + 1) + '/' + total);
    $current.animate({opacity: 0}, 1000, 'linear', // Hide the upper one
    function(){
      $item.css('z-index', 10); // Become the upper
      $current.css({'z-index': 1, 'opacity': 1}); // Go back
      $current = $item;
      $in_transition = false;
    }
  );
  }

</script>