<%
opt_count = question.scale_to - question.scale_from + 1
%>
<span class="rate_item"><%= question.label_from %></span>
<% opt_count.times do |c| %>
  <div class="rate_item">
    <%= builder.radio_button :int_value, (question.scale_from + c).to_s %>
    <%= builder.label :int_value, (c+1).to_s %>
  </div>
<% end %>
<span><%= question.label_to %></span>
<div class="clear"></div>
