<div id="footer">
  <p><%= t('home.views.new_internet_project_we_build_it_together') %><br/>
    <a href="http://feeds.feedburner.com/NewInternetProject-<%= I18n.locale %>">Entries (RSS)</a> and
    <a href="http://feeds.feedburner.com/NewInternetProject-Comments-<%= I18n.locale %>">Comments (RSS)</a>.
  </p>
</div>
