<div id="footer">
  <p>New internet project - We build it together<br/>
    <a href="http://feeds.feedburner.com/NewInternetProject-<%= I18n.locale %>">Entries (RSS)</a> and
    <a href="http://feeds.feedburner.com/NewInternetProject-Comments-<%= I18n.locale %>">Comments (RSS)</a>.
  </p>
</div>
