<!DOCTYPE html>
<html>
<head>
  <title>Sviva Tova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script>
  $(document).bind("mobileinit", function(evt) {
  	// Change some settings
  });
  </script>

  <script type="text/javascript" src="https://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head>
<body <%= @locale == 'he' ? 'style="direction: rtl;"'.html_safe : ''%>>

<%= yield %>

</body>
</html>
