<% content_for :content do %>
	<div class="column-content">
	  <%= yield %>
	</div>

	<div class="column-widgets">
	  <div class="content-submenu"></div>
	  <div><%= render_widget 'profile' %></div>
	  <div><%= render_widget 'blog' %></div>
	</div>
<% end %>

<%= render :file => 'layouts/main' %>