<div class="column-widgets">
  <ul><%= devise_error_messages! %></ul>
  <%= render :partial => "devise/shared/signup" %>
  <div class="clear"></div>

  <%
  session[:notice] = session[:alert] = ''
  flash[:notice] = flash[:alert] = ''
  -%>
</div>