<div class="column-widgets">
  <%= render :partial => "devise/shared/signup" %>
  <div class="clear"></div>

  <%
  session[:notice] = session[:alert] = ''
  flash[:notice] = flash[:alert] = ''
  -%>
</div>